<%= content_for(:main_class, "support support-chapter card-background") %>
<%= content_for :title, @chapter.title %>

<% if @chapter.keep_secret? %>
  <% content_for :head do %>
    <meta name="robots" content="noindex">
  <% end %>
<% end %>

<section class="support-chapter-container">
  <%= render "table_of_contents" %>

  <div class="support-content card">
    <h1 id="title-<%= @chapter.title.downcase.dasherize %>"><%= @chapter.title %></h1>
    <p class="support-chapter-description"><%= @chapter.description %></p>
    <% cache @chapter do %>
      <%= render @chapter %>
    <% end %>
  </div>
</section>

<%= render "support_search_scripts" %>
