---
layout: splash
---
<div class="dw-masthead">
  <h1>Documentation</h1>
  <p class="lead">Still have questions? You can always email us at <%= mail_to 'support@skylight.io' %>.</p>
</div>

<div class="row">

  <div class="col-6 col-sm-6">
    <h4>Getting Started</h4>
    <ul class="nav">
      <li><%= link_to "Installation", "/getting-started#install-the-agent" %></li>
      <li><%= link_to "Deployment", "/getting-started#deployment"  %></li>
      <li><%= link_to "Troubleshooting", "/getting-started#troubleshooting" %></li>
      <li><%= link_to "RPM Billing", "/rpm-billing" %></li>
      <li><%= link_to "Feature Walkthrough", "/feature-walkthrough" %></li>
      <li><%= link_to "Filing Bugs", "/filing-bugs" %></li>
    </ul>
  </div>

  <div class="col-6 col-sm-6">
    <h4>The Agent</h4>
    <ul class="nav">
      <li><%= link_to "Requirements", "/agent#requirements" %></li>
      <li><%= link_to "Configuration", "/agent#configuration" %></li>
      <li><%= link_to "Customizing", "/agent#custom-instrumentation"  %></li>
    </ul>
  </div>

  <!--
  <div class="col-6 col-sm-4">
    <h4>The App</h4>
    <ul class="nav">
      <li><%# link_to "Install" %></li>
      <li><%# link_to "Deploy"  %></li>
      <li><%# link_to "Troubleshooting" %></li>
    </ul>
  </div>
  -->
</div>
