<!doctype html>
<html>
  <head>
    <%= partial "layouts/meta" %>
  </head>
  <body>
    <%= partial "layouts/header" %>

    <div class="container">
      <div class="row">

        <div class="col-lg-9">
          <div class="dw-article">
            <div class="page-header">
              <h1><%= current_page.data.title %></h1>
            </div>

            <%= yield %>
          </div>
        </div>

        <div class="col-lg-3 visible-lg">
          <div class="dw-sidebar" data-spy="affix">
            <ul class="nav dw-sidenav">
              <%# Contents inserted by quickjump %>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <%= partial "layouts/footer" %>
  </body>
</html>
